---
import { getCollection } from "astro:content";

// components
import SocialIcon from "./SocialIcon.astro";

const socials = await getCollection("socials");

const sortedSocials = socials.sort((a, b) => {
  if (a.data.order < b.data.order) {
    return -1;
  }
  if (a.data.order > b.data.order) {
    return 1;
  }
  return 0;
});
---

<section id="socials" class="site-container relative pt-4">
  <ul class="flex w-full flex-wrap items-center justify-center gap-4">
    {
      sortedSocials.map((social) => (
        <li>
          <a
            href={social.data.url}
            class="flex h-10 w-10 items-center justify-center rounded-full bg-btn-light text-btn-light-text transition-all duration-300 hover:bg-btn-light-hover active:scale-95 dark:bg-btn-dark dark:text-btn-dark-text dark:hover:bg-btn-dark-hover"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="sr-only">{social.data.title}</span>
            <SocialIcon icon={social.data.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</section>
