---
import { type CollectionEntry, getCollection } from "astro:content";

// component imports
import BaseHead from "@layouts/BaseHead.astro";

// style import
import "@/styles/global.scss";

const bio = await getCollection("bio");
const profile = bio[0];

interface Props {
  title: string;
  description: string;
  image?: ImageMetadata;
  noindex?: boolean; // you need to opt-in to no indexing, as it hides the page from search engines
}

const { title, description, image, noindex = false } = Astro.props as Props;
---

<!doctype html>
<html
  lang="en"
  transition:animate="fade"
  class={profile.data.theme == "dark" ? "dark" : ""}
>
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image ? image : undefined}
      noindex={noindex}
    />
  </head>
  <body
    id="body"
    class="min-h-[100lvh] bg-base-50 text-base-800 dark:bg-base-950 dark:text-base-200"
  >
    <main>
      <slot />
    </main>
  </body>
</html>
